@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sound-wave {
    animation: sound-wave-animation 2s infinite linear;
  }

  @keyframes sound-wave-animation {
    0% {
      transform: scale(1);
      opacity: 0.5;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }

  .dots-animation div {
    animation: dots-animation 1.4s infinite ease-in-out both;
  }

  .dots-animation div:nth-child(1) {
    animation-delay: -0.32s;
  }

  .dots-animation div:nth-child(2) {
    animation-delay: -0.16s;
  }

  @keyframes dots-animation {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1.0);
    }
  }
}
